*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

p{
    text-align: center;
    font-size: 14px;
    color: hsl(212, 46%, 73%);
    width: 95%;
}

div{
    padding: 5px 10px;
    text-align: center;
}

section{
    background-color: #fff;
    width: 18%;
    border-radius:10px;
    padding-bottom: 15px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.image{
    padding-top:10px;
}

img{
    border-radius: 10px;
}